 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p>If you’re new to scrum and looking to get certified, it can be confusing trying to figure out which exact certification to take. There are twelve different types of scrum certifications at 4 different levels, each with different focuses, different levels of recognition, and different prices. Especially when you’re potentially going to be spending upwards of $300 on a single certification, you want to make sure that you’re picking the right one. That’s where we come in.</p>

<p>Whether you’re looking for a simple certification just to get started or pursue a path towards being a scrum master, we’ve compiled a condensed list of the top certifications recommended by scrum masters themselves. You’ll find all the information you need to choose the best certification for you depending on your goals at the price you prefer.</p>

<p>Continue on below to find the right certification for you, and wishing you the best on your scrum journey!</p>

                </div>
            </div>
        </div>
    </section>
