 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This website is made to help GGC students or any recent graduates who is interested in being a scrum master or interested in any potisions that requires a scrum certifications.</p>
                </div>
                <div class="col-lg-4">
                    <p>This website higlights the most recommended srcum certificaitons from a professional scrum masters.</p>
                </div>
            </div>
        </div>
    </section>
